[core]
	editor = nvim
	pager = delta --diff-so-fancy
	excludesfile = ~/.gitignore_global
[user]
	name = Guille
	email = guillenotfound@gmail.com

[includeIf "gitdir:~/repos/work/"]
	path = .gitconfig_work

[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --abbrev=8
	le = log --oneline --decorate
	fl = log -u
	dlc = diff --cached HEAD^
	la = "!git config -l | grep alias | cut -c 7-"
	cp = cherry-pick
	st = status -sb
	cl = clone
	ci = commit
	co = checkout
	br = branch
	diff = diff --word-diff
	r = reset
	r1 = reset HEAD^
	r2 = reset HEAD^^
	rh = reset --hard
	rh1 = reset HEAD^ --hard
	rh2 = reset HEAD^^ --hard
	sl = stash list
	sa = stash apply
	ss = stash save
[push]
	default = current
	# followTags = true
[merge]
	ff = only
[fetch]
	prune = true
[pull]
	ff = only
	rebase = true
[delta]
	features = decorations
	line-numbers = true
[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
	file-decoration-style = none
	hunk-header-decoration-style = cyan box ul
[init]
	defaultBranch = main
[rebase]
	autoStash = true
